html, body{
    padding: 0px;
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

.row{
    margin-right: 0px; 
    margin-left: 0px;
}

.div_cont{
 margin: 1%;
}
div[disabled=disabled] {
    pointer-events: none;
    cursor: pointer;
  }

.global{
    border: 1px dashed #000; 
    padding: 10px; 
    border-radius: 8px;
    width: 100%;
}

li{
    width: 100%;
    text-align: center;
    cursor: move;
}

.divnav{
    border: 1px solid #eeeeee56;
    padding: 10px
}

.form_builder_area {
    width:100%;
    height: 100vh;
    /* position: absolute; */
    background-color: blanchedalmond;
}

.elements{
    /* border: 1px red solid; */
    height:auto;
    overflow: hidden;
}

.areawork{
    /* border: 2px cyan solid; */
    height:auto;  
    /* overflow-y: scroll; */
}

.areaview{
    border: 2px cyan solid;
    height:100vh;  
    /* overflow-y: scroll; */
}

.elementes_sub{
    /* border: 2px indigo solid; */
    padding-top: 15%;
    height:auto; 
}

.elements .elementes_sub{ width: 100%; height: auto; overflow: auto; padding: 20px; position: absolute; left: 0px; top: 15%; bottom: 0px; margin: auto;}


/*Scrollbar 3*/
.elements ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.elements ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}
 
.elements ::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 5px;
}


.areawork .areawork_sub{ width: 100%; height: auto; overflow: auto; padding: 0; /*position: absolute;*/ left: 0px; right: 0px; top: 0; bottom: 0px; }


/*Scrollbar 3*/
.areawork ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.areawork ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}
 
.areawork ::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 5px;
}

/* - */


.areaview .areaview_sub{ width: 100%; height: auto; overflow: auto; padding: 0; /*position: absolute;*/ left: 0px; right: 0px; top: 0; bottom: 0px; }


/*Scrollbar 3*/
.areaview ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.areaview ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}
 
.areaview ::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 5px;
}

.fl{
    position: relative;
    z-index: 1;
}

.select_fl{
    position: absolute;
    z-index: 2;
    background-color: #eeeeee;
    width: 90%;
    padding: 15px 0;
}
.col-9, .col-4, .col-10{
    width: 100%;
    min-height: 0px;
    padding-left: 0px;
}

.lol{
    border: 1px solid red;
    padding-right: 0px; 
}

.col-8, .col-10{
    padding-right: 0px; 
}